/.DS_Store
.DS_Store
.idea
**/*.swp
**settings.js.txt
*cred.*
**.backup
flows_raspberrypi.json
*.sh
**temboo
flow*.json
.config.json
settings.js
node_modules/**
*.log
*events.txt
*train*.json
*openweather*http*.json
